
.nav-main{
    display: flex;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #ededed;

}
a, a:visited {
    cursor: pointer;
    text-decoration: none;
}
.nav-main .logopec{
    width: 80px;
    height: 30px;   
    
}
.nav-main .container {
    display:flex;
    padding: 15px 20px;
    max-width:1440px;
    margin:auto;
}
.nav-main .nav-list{
    display:flex;
    position: relative;
    margin-left:15px;

}
.nav-item {
    display: inline-flex;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 12px;


}
.nav-items {
    display: inline-flex;
    padding: 10px 10px;
    font-weight: 900;
    font-size: 12px;  
    margin-left:70px;
    flex:inherit;              
}

.nav-login{
    padding:0 10px;

}
.nav-item.active .nav-item-link span {
    color: #e4003c;
    font-weight: 700;
}
.nav-item-link span {
    color: #1c1a25;
    text-align: center;
}

.fas{
    font-size: 14px;
    margin-right: 7px;
}
.header{
    display:block;
}
.nav {
    font-family: Helvetica,sans-serif;
}

.nav-subnav {
    position: relative;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
    z-index: 1;
}
.container_subnav {
    display: block;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
    

}
.nav-item2 {
    display: inline-flex;
    font-weight: 700;
    padding: 10px 10px;
    font-size: 15px;
}
.page-wrapper{
display: block;
    max-width: 1140px;
    margin: 20px auto;

    
}
.sidebar {
    max-width: 180px;
    width: auto;
    height:140px;
    max-height:500px;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #ededed;
    overflow-x: hidden;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
  }
  .workspace{
    width: calc(100% - 200px);
    background-color:#ededed;
    border-radius: 11px;
    min-height:300px;

}
.page{
    padding:0 0 80px 0;
    
}
.top {
    font-size: 2em;
    margin: .67em 0;
    
    
}
.sidebar a {
    padding: 5px 15px 5px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    font-family: Helvetica,sans-serif;

  }
  .layout-side {
    display: flex;
    justify-content: space-between;
    
}
.row{
    padding:10px 30px 20px 20px;
}
.row-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-span{
    
    color:#242265;
    font-weight: 900;
    font-size: 17px;

}
.second-span{
    display:block;
    padding-top:21px;
    color:black;
    font-weight: 500;
    font-size: 17px;
}

footer {
    padding-top:10px;
    background-color:#ededed ;
    display: block;
    font-family: Bookman, URW Bookman L, serif	;

}
.high-footer{
    padding-top:20px;
    padding-bottom:0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    
}

.centred-block {
    padding-left: calc((100% - 1150px) / 2);
    padding-right: calc((100% - 1150px) / 2);
    
}
.my-4{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
hr{

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.text-center {
    text-align: center;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.site-footer_bottom {
    padding-top: 21px;
    padding-bottom: 22px;
    background-color: #e7e7e7;
    text-align:center;
    font-size:15px;
    text-align: left;
}
footer .pb4{
    color: rgb(192, 178, 178);
}
.fa{
    padding-right: 25px;
    font-size: 20px;
    color:black;
    font-family: 'Roboto', sans-serif;
}
.centred-block span{
    color:black;
    font-weight: 400;
    padding: 10px 0px 0 30px;
    font-size: 18px;
    
}
.main-span.active, .second-span.active{
    color: #e4003c;
    font-weight: 900;
}

.hrworkalign{
    text-align:center;
}
.add{
    margin-left:10px;
    margin-top:10px;
    font-size:15px;
    padding-top:2px;
}
.button{
    font-size:15px;
    border-radius: 10%;
}
.high-add{
    text-align: center;
}
.lowspace{

height:auto;

}
table{
    margin: auto;
}
td{
    font-size:25px;
    text-align: center;

}
tr{
    font-size:17px;
    
}

button{
    font-size:20px;
    margin-left:20px;
}
select{
    font-size:18px;
    margin-top:5px;
}